body{
	background-color: white;

}

span{
  text-align: center;
}

span.uv {
  display: inline-block;
  width: auto;
  height: 100%;
  border: 8px solid red;    
  background-color: red; 
  border-radius: 8px;
  color: white;

}

.citySearch{
  width: 100%;
  background-color: white; /* Green */
  border: 2px solid black; 
  color: black;
  border-width: 0px 0px 0px 1px;
  text-align: left;
  text-decoration: none;
  display: inline-block;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.citySearch:hover {
  background-color: #0b7dda; /* Green */
  color: white;
}

.card-header,.card-body,.card-footer{
  background-color: white;
}



.container{
  padding: 0px 0px 0px 0px;
  
  width: 100vw;

}
.title {
	text-align: center; 
	background-color: white;
  height: 20%;

}

.city {
	background-color: white; 
}
.weather-forecast{

    float: none;
    margin: 0 auto;
}
}
.weather-current{
  background-color: blue; 
  border-width: 4px;
  border-color: grey;
}

.title3 {
 font-size: 20px;
}

.title2 {
  font-size: 35px;
  font-weight: bold;
}
.weather-content{
	background-color: white; 
  padding: 20px;
}

.weather-info{
	background-color: white; 
	border-color: black; 
	border-radius: 6px;
}

li {

	list-style-type: none;
}

form {
	padding: 10px 0px 10px 0px;
}
/* Style the search field */
form.location-search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.location-search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.location-search button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.location-search::after {
  content: "";
  clear: both;
  display: table;
}
